/*Paleta de colores*/

/*Seudoelemento*/
:root { 
    --blanco:#ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris:#757575;

    /* --fuente_principal: 3.8rem; */
}

/* Configuracion para manejo de rems*/
html {
    font-size: 62.5%;
}

body {
    font-size: 16px; /*1rem = 10 px*/
    font-family: 'Krub', sans-serif;
}

/**/
.titulo {
    text-align: center;
    font-size: 3.8rem;       
    /* font-family: Arial, Helvetica, sans-serif; */
    /* color: var(--primario);     */
}

.titulo span {
    /* aplica un font-weight: de 700 */
    font-size: 2rem;     
}

.contenedor {
    max-width: 120rem;
    /* margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto; */
    margin: 0 auto;
}

.nav-bg {
    background-color: var(--secundario);
}

.navegacion-principal {
    /* enlaces font-weight de 400 */
    display: flex;
    flex-direction: column;
    /* align-items: center; flex-end , flex-start*/    
}

/* para movil */
/* @media (min-width: 480) {
    
} */

/* para tablet */
@media (min-width:768px) {
    .navegacion-principal {
        flex-direction: row;
        justify-content: space-between;
    }
}

/* para laptop */
/* @media (min-width: 1140px) {
    
} */

/*  */
/* @media (min-width: 1440px) {
    
} */

.navegacion-principal a {
    display: block;
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
    /* background-color: var(--primario);    */
}

/* Seudo clase */
.navegacion-principal a:hover {
    background-color: var(--primario);
    color: var(--oscuro);   
}

/* body {
    background-color: yellow;
    font-size: 3rem;
}

@media (min-width:480px) {
    body {
        background-color: blue;
    }
} */



/* span {
    color: green!important;
}

h1.titulo span {
   font-size: 2rem; 
   color: blue;
} */