/* custom propertis - variables que podemos reutilizar y si hay un cambio solo lo podemos reutilizar en esa parte  y todo nuestro diseño aplicara esos cambios */
:root {
    --primario: #9C27B0; 
    --primarioOscuro: #89119D;
    --secundario: #FFCE00;
    --secundarioOscuro: rgb(233,287,2);
    --blanco: #FFF;
    --negro: #000;

    --fuentePrincipal: 'Staatliches', cursive;

}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    font-size: 62.5%;/* parte de lo que nos permite arreglar que un rem es de 10 px */

}
*, *:before, *:after {
    box-sizing: inherit;
}

/* Globales */
body {
    background-color: var(--primario);
    font-size: 1.6rem;
    line-height: 1.5; /* interlineado la base de la fuente*/
}

p {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);
}

a {
    text-decoration: none;
}

img {
   max-width: 100%; 
}

.contenedor {
    max-width: 120rem; /* 1200px */
    margin: 0 auto; /* centrar el contenido en el contenedor */
}

h1,h2,h3 {
    text-align: center;
    color: var(--secundario);
    font-family: var(--fuentePrincipal);
}

h1 {
    font-size: 4rem; /* tamaño individual */
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.4rem; /* 24 px */
}

/* Uso de BEM  */

/* header */
.header {
    display: flex;
    justify-content: center;
}

.header__logo {
    margin: 3rem 0;
}

/* Footer */
.footer {
    background-color: var(--primarioOscuro);
    padding: 1rem 0;
    margin-top: 2rem;
}

.footer__texto {
    font-family: var(--fuentePrincipal);
    text-align: center;
    font-size: 2.2rem;
}

/* Navegación */
.navegacion {
    background-color: var(--primarioOscuro);
    padding: 1rem 0; /* hace un poco mas grande la barra de navegacion */
    display: flex;
    justify-content: center;
    gap: 2rem; /*agrega separacion nueva funcionalidad en flex*/
}

.navegacion__enlace {
    font-family: var(--fuentePrincipal);
    color: var(--blanco);
    font-size: 3rem;
    /* margin-right: 2rem; agrega separacion */
}

/* .navegacion__enlace:last-of-type{  selecciona el ultimo
    margin-right: 0;
} */

.navegacion__enlace--activo,
.navegacion__enlace:hover {
    color: var(--secundario);
}

/* Productos  */
.producto {

}

.producto__imagen {

}

.producto__informacion {
    
}

.producto__nombre {
    
}

.producto__precio {
    
}